{% extends "base/user_base.html.twig" %}

{% block title %}
	{{ parent() }}
	Connexion
{% endblock %}
{% block body %}
	<div
		class="login-wrapper ">
		<!-- START Login Background Pic Wrapper-->
		<div
			class="bg-pic">
			<!-- START Background Caption-->
			<div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
				<h1 class="semi-bold text-white">Notes étudiants</h1>
			</div>
			<!-- END Background Caption-->
		</div>
		<!-- END Login Background Pic Wrapper-->
		<!-- START Login Right Container-->
		<div class="login-container bg-white">
			<div class="p-l-50 p-r-50 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
				<h2 class="p-t-25">Connectez-vous<br/>pour accéder au gestionnaire</h2>
				<p class="mw-80 m-t-5">Se connecter</p>

				<!-- START Login Form -->
				<form id="form-login" class="p-t-15" role="form" method="POST">
					{% if error %}
						<div class="alert alert-danger">
							{{ error.messageKey | trans(error.messagedata, 'security') }}
						</div>
					{% endif %}
					<!-- START Form Control-->
					<div class="form-group form-group-default">
						<label>Nom d'utilisateur</label>
						<div class="controls">
							<input type="text" value="{{ last_username }}" name="email" placeholder="xxxx@gmail.fr" class="form-control" required autofocus>
						</div>
					</div>
					<!-- END Form Control-->
					<!-- START Form Control-->
					<div class="form-group form-group-default">
						<label>Mot de Passe</label>
						<div class="controls">
							<input type="password" class="form-control" name="password" placeholder="azerty123" required>
						</div>
					</div>
					<!-- START Form Control-->
					<div class="row">
						<div class="col-md-6 no-padding sm-p-l-10">
							<div class="form-check">
								<input type="checkbox" value="1" id="checkbox1" name="_remember_me">
								<label for="checkbox1">Se souvenir de moi</label>
							</div>
						</div>
						<div class="col-md-6 d-flex align-items-center justify-content-end">
							<button aria-label="" class="btn btn-primary btn-lg m-t-10" type="submit">Connexion</button>
						</div>
					</div>
					<div class="m-b-5 m-t-30">
						<a href="{{'reset'}}" class="normal">Mot de Passe oublié ?
						</a>
					</div>

					<!-- END Form Control-->
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				</form>
				<!--END Login Form-->
				<div class="pull-bottom sm-pull-bottom">
					<div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
						<div class="col-sm-9 no-padding m-t-10">
							<p class="small-text normal hint-text">
								©2020-2021 Pelarrey
								<a href="">Reglementations des Cookies</a>,
								<a href="">
									RGPD</a>.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END Login Right Container-->
	</div>
{% endblock %}